{% if currencies|length > 1 %}
    <li class="dropdown dropdown-small">
        <a href="#" class="dropdown-toggle" data-hover="dropdown"
                                           data-toggle="dropdown"><span class="value">{{ text_currency }} </span><b
                    class="caret"></b></a>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
            <ul class="dropdown-menu">
                {% for currency in currencies %}
                    {% if currency.symbol_left %}
                        <li>
                            <a name="{{ currency.code }}" class="currency-select" href="#">
                                {{ currency.symbol_left }} {{ currency.title }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a name="{{ currency.code }}" class="currency-select" href="#">
                                {{ currency.symbol_right }} {{ currency.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <input type="hidden" name="code" value=""/>
            <input type="hidden" name="redirect" value="{{ redirect }}"/>
        </form>
    </li>
{% endif %}