{{ header }}{{ column_left }}
<div class="body-content outer-top-xs" id="top-banner-and-menu">
    <div class="container">
        <div class="row">
            <!--  CONTENT  -->
            <div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
                <div id="content">
                    {{ content_top }}
                </div>
            </div>
            <!--  CONTENT : END  -->
            <!--  SIDEBAR  -->
            <div class="col-xs-12 col-sm-12 col-md-3 sidebar">
                {{ column_right }}
            </div>
            <!--  SIDEBAR : END  -->
        </div>
        <!-- /.row -->
        {{ content_bottom }}
    </div>
    <!-- /.container -->
</div>
<!-- /#top-banner-and-menu -->
{{ footer }}