<div id="brands-carousel" class="logo-slider wow fadeInUp">
    <div class="logo-slider-inner">
        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
            {% for banner in banners %}
                <div class="item">
                    {% if banner.link %}
                        <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}"
                                                         class="img-responsive"/></a>
                    {% else %}
                        <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive"/>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <!-- /.owl-carousel #logo-slider -->
    </div>
    <!-- /.logo-slider-inner -->
</div>
<!-- /.logo-slider -->