{{ header }}
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.breadcrumb-inner -->
    </div>
    <!-- /.container -->
</div>
<!-- /.breadcrumb -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
    <div class="container">
        <div class="row">
            <!--  SIDEBAR  -->
            <div class="col-xs-12 col-sm-12 col-md-3 sidebar">
                {{ column_left }}
            </div>
            <!--  SIDEBAR : END  -->
            <!--  CONTENT  -->
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div id="content">
                    <h3>{{ heading_title }}</h3>
                    {{ content_top }}
                    <div class="box-meta">
                        <span class="date-time">{{ date_added }}</span>
                    </div>
                    <hr>
                    <div class="box-news-detail">
                        {{ description }}
                        {% if tags %}
                            <hr>
                            <p>{{ text_tags }}
                                {% for i in 0..tags|length %}
                                    {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
                                    {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
                                {% endfor %} </p>
                        {% endif %}
                    </div>

                    {% if newss %}
                        <ul class="list-unstyled">
                        {% for news in newss %}
                            <li><a href="{{ news.href }}">{{ news.name }}<span class="date-time" style="color: #ddd"> ({{ news.date_added }})</span></a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            </div>
            <!--  CONTENT : END  -->
        </div>
        <!-- /.row -->
        {{ content_bottom }}
    </div>
    <!-- /.container -->
</div>
<!-- /#top-banner-and-menu -->
{{ column_right }}
<script type="text/javascript"><!--
    $('#review').delegate('.pagination a', 'click', function (e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index.php?route=news/news/review&news_id={{ news_id }}');

    $('#button-review').on('click', function () {
        $.ajax({
            url: 'index.php?route=news/news/write&news_id={{ news_id }}',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function () {
                $('#button-review').button('loading');
            },
            complete: function () {
                $('#button-review').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });
    //--></script>
{{ footer }}
